@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
html,body,p{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #101010;
    font-family: "Onest", system-ui;
    padding-bottom: 20px;
}

.profile-card {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: solid 20px #101010;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #101010);
    z-index: 1;
}

.text-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: x-large;
    font-weight: 800;
}
.slogan {
    font-size: 18px;
    font-weight: 400;
}


.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
.social-icons i {
    color: white;
    font-size: 27px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #ccc;
}

.linksCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.link{
    display: flex;
    width: 90%;
    height: 65px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
}
.linkIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: #fff;
    font-size: x-large;
    text-align: center;
    height: 100%;
}
.linkTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
    width: 70%;
    color: #fff;
}

.linkTitle{
    font-size: 20px;
}